<% if @item_categories.present? %>
	<table>
		<tr>
			<th> Name </th>
			<th colspan="4"> Actions </th>
		</tr>
		<% @item_categories.each do |item_category| %>
			<tr>
				<td> <%= item_category.name %> </td>
				<td> <%= link_to 'Show', item_category_path(item_category) %> </td>
				<td> <%= link_to 'Edit', edit_item_category_path(item_category) %> </td>
				<td> <%= link_to 'Delete', item_category, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %> </td>
				<td> <%= link_to 'Show items', item_category_items_path(item_category) %> </td>
			</tr>
		<% end %>
	</table>
<% end %>
<%= link_to 'Add new item category', new_item_category_path %>